@import url('https://fonts.googleapis.com/css?family=Lato:300,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box !important;
}

body{
    font-family:'Lato',sans-serif !important;
}

.lato-light-18 {        
    
    font-size:18px !important;
    font-weight:300 !important;
}
/*lato-font (lato-light-18) */
.lato-black-60 {
    font-size:3.75rem !important;
    font-weight: 900;
    
}
/*country (lato-black-60)*/
.lato-light-24{
    font-size:24px;
    font-weight: 300;
    
}
/*country-city lato-light-24 */
.lato-black-24{
    font-size:24px;
    font-weight:900;
    
}
.lato-black-42{
    font-size:42px;
    font-weight:900;
}

header{
    height:50vh;
    background: url(../img/background-1440.png);
}

.temperature:hover {
    
    
    border-bottom:3px solid white;
}

.space{
    padding:0;
    margin:0;
    color:#4d4d4d;
    font-weight: 300;
    font-size:14px;
}

.weather-info,.temperature-result {
    font-weight:900;
    color:#0e8ea6;
    font-size:14px;
}
.temperature-result{
    font-size:42px
}

.city{
    font-weight: 300;
    color:#4d4d4d;
}

.weather-title{
    color:#4d4d4d;
    font-size:24px;
    font-weight: 300;
}

.weather-img{
    width:50%;
}

::placeholder {
    
    font-size:18px !important;
    font-weight:300 !important;
}

.input-text {
    font-size:14px;
    font-weight:900;
}


.nextDayImg{
    width:72px;
    height:72px;
}

.currentDayImg {
    width:180px;
}

.white {
    color:#fff !important;
}

.blue {
    color:#0e8ea6;
}

.grey{
    color:#4d4d4d;
}


    .dropdown-scroll{
          height:200px !important;
          overflow-y:auto !important;
       }

    .dropdown-custom {
        outline:0 !important;
        border: none;
    }

    .nav-toggle-button{
        color:gray !important;
    }

@media (max-width:767px){
    #header-title{
        font-size:24px!important;
        font-weight:300!important; 
    }
    #header-subtitle{
        font-size:18px !important;
        font-weight:300 !important;
    }
} 

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 12px 8px 12px 32px;
    text-decoration: none;
    font-size:18px!important;
    font-weight:300 !important;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color:#0e8ea6;
    color:#fff;
    font-size:18px !important;
    font-weight:300 !important;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left:0;
    
    padding: 8px 8px 8px 32px;
    margin-left:0!important;
    font-size: 36px;
    margin-left: 50px;
  }

  @media (min-width:767px){
      .none{
          display:none;
      }
  }
  @media(max-width:767px){
      .disableNavBrand{
        display:none;
      }
  }

  @media(min-width:768px){
      .right-corner {
        border-top-right-radius:0;
        border-bottom-right-radius: 0;
      }
      .left-corner {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
  }

  @media screen and (max-width: 1090px) and (min-width: 845px) {
    .lato-black-md{  
        font-weight: 900!important;
        font-size:20px!important;    
    }
  }
